:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent1: green;
  --accent2: linear-gradient(90deg, #FFC955 0%, #FF7CD5 100%);
  --accent3: #ff1f1f;
  --accent4: #ff7b7b;
  --accent5: #ff5252;
  --accent6: #ff1f1f;
  --accent7: #ff7b7b;
  --accent8: #ff5252;
  --accent9: #ff1f1f;
  --accent10: #ff7b7b;
  --accent11: #ff5252;
  --accent12: #ff1f1f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
}

